In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [131]:
data=pd.read_excel(r"C:\Users\Biswajit Satapathy\Desktop\study\crop.xlsx")

In [132]:
A=np.array(data)
data

,Region1,Region2,Year,Crop,Area planted,Production,Yield
0,andhra pradesh,adilabad,2011,corn,18047.0,52403,2.90
1,andhra pradesh,adilabad,2004,corn,26517.0,74482,2.81
2,andhra pradesh,adilabad,2006,corn,25057.0,78012,3.11
3,andhra pradesh,adilabad,2000,rice,77473.0,167258,2.16
4,andhra pradesh,adilabad,1998,corn,29300.0,77900,2.66
5,andhra pradesh,adilabad,2009,corn,17899.0,68468,3.83
6,andhra pradesh,adilabad,2010,rice,90547.0,255154,2.82
7,andhra pradesh,adilabad,2001,rice,77144.0,173741,2.25
8,andhra pradesh,adilabad,2000,corn,30498.0,95529,3.13
9,andhra pradesh,adilabad,2007,corn,24000.0,76000,3.17
10,andhra pradesh,adilabad,2002,corn,28305.0,68877,2.43
11,andhra pradesh,adilabad,2005,corn,27153.0,92172,3.39
12,andhra pradesh,adilabad,1999,rice,77368.0,189067,2.44
13,andhra pradesh,adilabad,2006,rice,73762.0,177866,2.41
14,andhra pradesh,adilabad,2001,corn,27713.0,109296,3.94
15,andhra pradesh,adilabad,2009,rice,48118.0,98499,2.05
16,andhra pradesh,adilabad,2003,rice,80920.0,200748,2.48
17,andhra pradesh,adilabad,2011,rice,76170.0,199326,2.62
18,andhra pradesh,adilabad,2004,rice,39621.0,62882,1.59
19,andhra pradesh,adilabad,2008,rice,77294.0,198382,2.57
20,andhra pradesh,adilabad,2010,corn,20363.0,79837,3.92
21,andhra pradesh,adilabad,1999,corn,30524.0,84027,2.75
22,andhra pradesh,adilabad,2005,rice,78750.0,200784,2.55
23,andhra pradesh,adilabad,2002,rice,76794.0,121898,1.59
24,andhra pradesh,adilabad,1998,rice,78600.0,185800,2.36
25,andhra pradesh,adilabad,2008,corn,32623.0,137479,4.21
26,andhra pradesh,adilabad,2007,rice,52000.0,124000,2.38
27,andhra pradesh,adilabad,2003,corn,30459.0,124239,4.08
28,andhra pradesh,anantapur,2004,corn,7067.0,35853,5.07
29,andhra pradesh,anantapur,2002,rice,40026.0,86791,2.17
...,...,...,...,...,...,...,...
5233,west bengal,puruliya,2008,rice,301005.0,744181,2.47
5234,west bengal,puruliya,2009,rice,265643.0,598774,2.25
5235,west bengal,puruliya,2009,corn,7422.0,9823,1.32
5236,west bengal,south twenty four pargana,2009,rice,383960.0,805368,2.10
5237,west bengal,south twenty four pargana,2001,rice,429663.0,1003631,2.34
5238,west bengal,south twenty four pargana,2000,rice,425861.0,866930,2.04
5239,west bengal,south twenty four pargana,2003,rice,447442.0,969598,2.17
5240,west bengal,south twenty four pargana,2002,rice,433804.0,940736,2.17
5241,west bengal,south twenty four pargana,2004,rice,397323.0,912282,2.30
5242,west bengal,south twenty four pargana,2005,rice,395971.0,845306,2.13
5243,west bengal,south twenty four pargana,1999,rice,456037.0,932830,2.05
5244,west bengal,south twenty four pargana,1998,rice,448260.0,749700,1.67
5245,west bengal,south twenty four pargana,2006,rice,415018.0,911100,2.20
5246,west bengal,south twenty four pargana,2007,rice,392499.0,796765,2.03
5247,west bengal,south twenty four pargana,2008,rice,415973.0,919888,2.21
5248,west bengal,uttar dinajpur,2000,rice,283209.0,628607,2.22
5249,west bengal,uttar dinajpur,2001,rice,279581.0,554447,1.98
5250,west bengal,uttar dinajpur,1998,rice,269615.0,579792,2.15
5251,west bengal,uttar dinajpur,1999,rice,284424.0,567490,2.00
5252,west bengal,uttar dinajpur,2008,rice,284511.0,659999,2.32
5253,west bengal,uttar dinajpur,2008,corn,27320.0,153900,5.63
5254,west bengal,uttar dinajpur,2009,corn,32140.0,193795,6.03
5255,west bengal,uttar dinajpur,2009,rice,256439.0,558957,2.18
5256,west bengal,uttar dinajpur,2002,rice,284021.0,587145,2.07
5257,west bengal,uttar dinajpur,2003,rice,295618.0,699946,2.37
5258,west bengal,uttar dinajpur,2007,rice,281103.0,683513,2.43
5259,west bengal,uttar dinajpur,2007,corn,12203.0,60477,4.96
5260,west bengal,uttar dinajpur,2004,rice,269169.0,650327,2.42
5261,west bengal,uttar dinajpur,2006,rice,256301.0,589729,2.30
5262,west bengal,uttar dinajpur,2005,rice,280112.0,692357,2.47

In [133]:
from sklearn.preprocessing import LabelEncoder

In [134]:
label1 = LabelEncoder()
data['Region1'] = label1.fit_transform(data['Region1'])
lab2 = LabelEncoder()
data['Region2'] = lab2.fit_transform(data['Region2'])
lab3 = LabelEncoder()
data['Crop'] = lab3.fit_transform(data['Crop'])

In [135]:
data.dropna(inplace=True)

In [151]:
data

      Region1  Region2  Year  Crop  Area planted  Production  Yield
0           0        0  2011     0       18047.0       52403   2.90
1           0        0  2004     0       26517.0       74482   2.81
2           0        0  2006     0       25057.0       78012   3.11
3           0        0  2000     1       77473.0      167258   2.16
4           0        0  1998     0       29300.0       77900   2.66
5           0        0  2009     0       17899.0       68468   3.83
6           0        0  2010     1       90547.0      255154   2.82
7           0        0  2001     1       77144.0      173741   2.25
8           0        0  2000     0       30498.0       95529   3.13
9           0        0  2007     0       24000.0       76000   3.17
10          0        0  2002     0       28305.0       68877   2.43
11          0        0  2005     0       27153.0       92172   3.39
12          0        0  1999     1       77368.0      189067   2.44
13          0        0  2006     1       73762.0      177866   2.41
14          0        0  2001     0       27713.0      109296   3.94
15          0        0  2009     1       48118.0       98499   2.05
16          0        0  2003     1       80920.0      200748   2.48
17          0        0  2011     1       76170.0      199326   2.62
18          0        0  2004     1       39621.0       62882   1.59
19          0        0  2008     1       77294.0      198382   2.57
20          0        0  2010     0       20363.0       79837   3.92
21          0        0  1999     0       30524.0       84027   2.75
22          0        0  2005     1       78750.0      200784   2.55
23          0        0  2002     1       76794.0      121898   1.59
24          0        0  1998     1       78600.0      185800   2.36
25          0        0  2008     0       32623.0      137479   4.21
26          0        0  2007     1       52000.0      124000   2.38
27          0        0  2003     0       30459.0      124239   4.08
28          0       13  2004     0        7067.0       35853   5.07
29          0       13  2002     1       40026.0       86791   2.17
...       ...      ...   ...   ...           ...         ...    ...
5233       19      287  2008     1      301005.0      744181   2.47
5234       19      287  2009     1      265643.0      598774   2.25
5235       19      287  2009     0        7422.0        9823   1.32
5236       19      336  2009     1      383960.0      805368   2.10
5237       19      336  2001     1      429663.0     1003631   2.34
5238       19      336  2000     1      425861.0      866930   2.04
5239       19      336  2003     1      447442.0      969598   2.17
5240       19      336  2002     1      433804.0      940736   2.17
5241       19      336  2004     1      397323.0      912282   2.30
5242       19      336  2005     1      395971.0      845306   2.13
5243       19      336  1999     1      456037.0      932830   2.05
5244       19      336  1998     1      448260.0      749700   1.67
5245       19      336  2006     1      415018.0      911100   2.20
5246       19      336  2007     1      392499.0      796765   2.03
5247       19      336  2008     1      415973.0      919888   2.21
5248       19      360  2000     1      283209.0      628607   2.22
5249       19      360  2001     1      279581.0      554447   1.98
5250       19      360  1998     1      269615.0      579792   2.15
5251       19      360  1999     1      284424.0      567490   2.00
5252       19      360  2008     1      284511.0      659999   2.32
5253       19      360  2008     0       27320.0      153900   5.63
5254       19      360  2009     0       32140.0      193795   6.03
5255       19      360  2009     1      256439.0      558957   2.18
5256       19      360  2002     1      284021.0      587145   2.07
5257       19      360  2003     1      295618.0      699946   2.37
5258       19      360  2007     1      281103.0      683513   2.43
5259       19      360  2007     0       12203.0       60477   4.96
5260       19      360  2004     1      269169.0      650327   2.42
5261       19      360  2006     1      256301.0      589729   2.30
5262       19      360  2005     1      280112.0      692357   2.47

[5254 rows x 7 columns]

In [136]:
shape=data.shape
row=shape[0]
col=shape[1]
row

5254

In [137]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [138]:
Xa=data.iloc[:,:-1]
Ya=data.iloc[:,-1]

In [139]:
X=np.array(Xa)
Y=np.array(Ya)

In [140]:
one_column = np.ones((row,1))
X = np.concatenate((one_column, X), axis = 1)

In [141]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y,test_size=0.20)

In [142]:
row1=Xtrain.shape[0]
col1=Xtrain.shape[1]

In [143]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor

In [144]:
xtrain=np.array(Xtrain)
ytrain=np.array(Ytrain)
xtest=np.array(Xtest)
ytest=np.array(Ytest)

In [145]:
lr=LinearRegression()

In [146]:
rfc=RandomForestRegressor()

In [147]:
tree = DecisionTreeClassifier(random_state=50)

In [118]:
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [148]:
rfc.fit(Xtrain,Ytrain)

d:\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [150]:
rfc.score(xtest, ytest)

0.8851820253759737

In [154]:
p=[5233,19,287,2008,1,301005.0,744181]
p=np.array(p)
p=p.reshape(1,-1)
p

array([[5.23300e+03, 1.90000e+01, 2.87000e+02, 2.00800e+03, 1.00000e+00,
        3.01005e+05, 7.44181e+05]])

In [155]:
ans=rfc.predict(p)
print(ans)

[2.41]

In [122]:
lr.score(xtest, ytest)

0.5116803709039898

In [ ]:
#random forest fits best for the data as compared to logistic regression